node_modules
# Dependencies
/.pnp
.pnp.js

# Production build
dist/
build/

# Environment files
.env.local
.env.*.local
.env.development

#due to reverse proxy for local development 
vite.config.js
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
